<h2 class="create-post">Create Post</h2>
<div class="container">
    <form class="form-container" th:action="@{/posts}" method="post" th:object="${postDto}" enctype="multipart/form-data">
        <div class="form-inner-container">
            <div class="image-container">
                <img id="uploadedImage" class="uploaded-image" src="/images/icons/place_holder_for_create_post.png" alt="Uploaded Picture">
                <div class="image-upload">
                    <input type="file" id="imageUpload" name="image" accept="image/*" class="image-input">
                    <p class="image-title" style="display: none"></p>
                    <button id="removeImageButton" class="remove-image-button">Remove Picture</button>
                </div>
            </div>

            <div class="other-forms">
                <div class="form-group">
                    <label>Title:</label>
                    <input type="text" th:field="*{title}" class="form-control" placeholder="Add title" required>
                </div>
                <div class="form-group">
                    <label>Description:</label>
                    <textarea th:field="*{description}" class="form-control" rows="3" placeholder="Add a detailed description" required></textarea>
                </div>
                <div class="form-group">
                    <label>Link:</label>
                    <input type="url" th:field="*{imageUrl}" class="form-control" placeholder="Add a link">
                </div>
                <div class="form-group">
                    <label>Board:</label>
                    <input type="text" th:field="*{videoUrl}" class="form-control" placeholder="Search for a tag">
                </div>
                <div class="form-group">
                    <label>Topic:</label>
                    <input type="text" th:field="*{topic}" class="form-control" placeholder="Search for a tag">
                </div>
                <button type="submit" class="btn-primary">Publish</button>
            </div>
        </div>
    </form>

</div>

<script>
    const imageUpload = document.getElementById('imageUpload');
    const uploadedImage = document.getElementById('uploadedImage');
    const titleInput = document.querySelector('input[type="text"][placeholder="Add title"]');
    const linkInput = document.querySelector('input[type="url"][placeholder="Add a link"]');
    const removeImageButton = document.getElementById('removeImageButton');
    const uploadLabel = document.querySelector('.image-info');
    const imageTitle = document.querySelector(".image-title");
    // uploadedImage.style.display = "none";

    imageUpload.addEventListener('change', function (event) {
        const file = event.target.files[0];

        if (file) {
            const reader = new FileReader();

            reader.onload = function (e) {
                uploadedImage.src = e.target.result;

                const fileName = file.name.split('.').slice(0, -1).join('.'); //me ia hjek file extension
                titleInput.value = fileName;

                imageTitle.style.display = "inline"

                if(fileName.length > 30) {
                    imageTitle.textContent = "Image name : " + fileName.substring(0, 30) + "...";
                } else imageTitle.textContent = "Image name : " + fileName;

                linkInput.disabled = true;

                removeImageButton.style.display = 'inline-block';
                uploadLabel.style.display = 'none';
            };

            reader.readAsDataURL(file);
        }
        imageUpload.style.display = "none";
    });

    removeImageButton.addEventListener('click', function (event) {
        event.preventDefault();
        imageUpload.style.display = "block";
        imageTitle.style.display = "none"
        imageTitle.textContent = "";


        uploadedImage.src = '/images/icons/place_holder_for_create_post.png';

        imageUpload.value = '';
        titleInput.value = '';

        linkInput.disabled = false;

        removeImageButton.style.display = 'none';
        uploadLabel.style.display = 'inline';
    });
</script>